main{
    display: flex;
    background-image: url(https://images.unsplash.com/photo-1597733336794-12d05021d510?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Ymx1ZSUyMGxpZ2h0c3xlbnwwfHwwfHx8MA%3D%3D/);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    padding: 1em;
    height: 500px;
    align-items: center;
}

main h1 {
    font-size: 50px;
}

main p{
    font-size: 20px;
}

main button{
    position: relative;
    top: 2rem;
}

section{
    margin: 2em;
    border-radius: 1rem;
    padding: 1em;
    background-color: #2B3035;
}

#botao{
    margin-top: 1em !important;
}

@media screen and (max-width: 480px){

    .titulo{
        display: block;
        position: relative;
        Left: calc(50% - 52px/2);
        text-align: center;
    }
    
    section h2{
        text-align:center;
    }

    section{
        text-align:justify;
    }
}

#resultado{
    display:flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: calc(50% - 80vw/2);
    width: 80vw;
    padding: 1em;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

i{
    padding: 0.5rem;
}

.imagemcard{
    height: 175;
    width: 300;
    background-position: 0;
    background-repeat: no-repeat;
}

#renner{
    background-image: url(https://static.wikia.nocookie.net/memes-pedia/images/6/63/Polite_Cat.jpeg/revision/latest/thumbnail/width/360/height/360?cb=20211113003020&path-prefix=es);
}

#instagram{
    background-color: white;
}

#clubpenguin{
    background-color: gray;
}